<b>Exercise 1:</b> Saved the notebook with the name.

<b>Exercise 2:</b>

<h1>Data Science Tools and Ecosystem</h1>

<b>Exercise 3:</b>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<b>Exercise 10:</b>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>Common libraries used in data science.</li>
    <li>Data Science tools</li>
</ul>

<b>Exercise 4:</b>

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    </ol>

<b>Exercise 5:</b>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    </ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>R studio</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Anaconda</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>SQLite</td>
    <td></td>
    <td></td>
  </tr>
</table>

<b>Exercise 7:</b>
<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
a=9*32+12+3294
print(a)

3594

In [2]:
b=pow(2,3)
print (b)

8

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

In [3]:
(3*4)+5

17

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

In [4]:
t=200
hours=t/60
#for converting mins to hour we divide it by 60
print(hours)

3.3333333333333335

<b>Exercise 11</b>

<h2>Author:</h2> Rashmi